In [64]:
import pandas as pd
import numpy as np
import os

#read file into pandas and create dataframe

data = "purchase_data2.json"
data_df = pd.read_json(data)
data_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [65]:
#player count

ply_df = pd.DataFrame({"Total Players":[data_df["SN"].nunique()]})
ply_df

   Total Players
0             74

In [66]:
#purchasing analysis

purch_df = pd.DataFrame({
    "Number of Unique Items":[data_df["Item ID"].nunique()],
    "Average Price":[round(data_df["Price"].mean(), 2)],
    "Number of Purchases":[data_df["Item ID"].count()],
    "Total Revenue":[round(data_df["Price"].sum(), 2)]
})
purch_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0           2.92                   78                      64          228.1

In [67]:
#gender demographics

total_count = len(data_df["SN"].unique())

male_grp = data_df.groupby(['Gender']).get_group(('Male'))
male_len= len(male_grp['SN'].unique())
male_per= round((male_len/total_count)*100,2)

female_grp= data_df.groupby(['Gender']).get_group(('Female'))
female_len= len(female_grp['SN'].unique())
female_per= round((female_len/total_count)*100,2)

other_grp= data_df.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
other_len= len(other_grp['SN'].unique())
other_per= round((other_len/total_count)*100,2)

gender = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other'],'Gender Count':[Male2,Female2,Other2]}
gender_df =  pd.DataFrame(gender)
gender_df= gender_df.set_index('Gender')
gender_df= gender_df[['Percent of Players','Gender Count']]
gender_df

#save for optimization


#grouped_counts = data_df.drop(['Age', 'Item ID', 'Item Name', 'Price'], axis=1)
#grouped_gen = grouped_counts.groupby('Gender')
#grouped_gen.count().head()

#total = np.sum(grouped_counts.loc[:,'SN':].agg)
#total
#grouped_gen['Percent'] = grouped_gen.loc[:,'SN':].sum(axis=1)/total * 100
#grouped_gen.head()

#for i in col

        Percent of Players  Gender Count
Gender
Male                 81.08            60
Female               17.57            13
Other                 1.35             1

In [68]:
#purchase analysis by gender

male_pc = len(male_grp)
female_pc = len(female_grp)
other_pc = len(other_grp)

male_ap = round((male_grp["Price"].sum())/len(male_grp["Price"]),2)
female_pc = round((female_grp["Price"].sum())/len(female_grp["Price"]),2)
other_pc = round((other_grp["Price"].sum())/len(other_grp["Price"]),2)

male_tp = round(male_grp['Price'].sum(),2)
female_tp = round(female_grp['Price'].sum(),2)
other_tp = round(other_grp['Price'].sum(),2)

norm_male = round((male_tp/male_pc), 2)
norm_female = round((female_tp/female_pc), 2)
norm_other = round((other_tp/other_pc), 2)

gpurch_dic = {"Purchase Count":[male_pc,female_pc,other_pc],
              "Gender":["Male","Female","Other"],
              "Average Purchase Price":[male_ap,female_pc,other_pc],
              "Total Purchase Value":[male_tp,female_tp,other_tp],
              "Normalized Totals":[norm_male,norm_female,norm_other]}

gpurch_df = pd.DataFrame(gpurch_dic).set_index('Gender')
gpurch_df = gpurch_df[['Purchase Count','Average Purchase Price','Total Purchase Value','Normalized Totals']]
gpurch_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Male,64.00,2.88,184.60,2.88
Female,3.18,3.18,41.38,13.01
Other,2.12,2.12,2.12,1.00

In [74]:
#age demographics

maxAge = data_df['Age'].max()

bins = [0,10,14,19,24,29,34,39,46]
agelabels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]
data_df['Age Summary'] = pd.cut(data_df['Age'],bins,labels= agelabels)


bin1 = data_df.groupby(['Age Summary']).get_group(('<10'))
pc1 = len(bin1['SN'].unique())
perBin1 = (pc1/total_count)*100

bin2 = data_df.groupby(['Age Summary']).get_group(('10-14'))
pc2 = len(bin2['SN'].unique())
perBin2 = (pc2/total_count)*100

bin3 = data_df.groupby(['Age Summary']).get_group(('15-19'))
pc3 = len(bin3['SN'].unique())
perBin3 = (pc3/total_count)*100

bin4 = data_df.groupby(['Age Summary']).get_group(('20-24'))
pc4 = len(bin4['SN'].unique())
perBin4 = (pc4/total_count)*100

bin5 = data_df.groupby(['Age Summary']).get_group(('25-29'))
pc5 = len(bin5['SN'].unique())
perBin5 = (pc5/total_count)*100

bin6 = data_df.groupby(['Age Summary']).get_group(('30-34'))
pc6 = len(bin6['SN'].unique())
perBin6 = (pc6/total_count)*100

bin7 = data_df.groupby(['Age Summary']).get_group(('35-39'))
pc7 = len(bin7['SN'].unique())
perBin7 = (pc7/total_count)*100

bin8 = data_df.groupby(['Age Summary']).get_group(('>40'))
pc8 = len(bin8['SN'].unique())
perBin8 = (pc8/total_count)*100


playerBinsCount=[pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8]
percentBins= [perBin1,perBin2,perBin3,perBin4,perBin5,perBin6,perBin7,perBin8]
percentBins= [round(x,2) for x in percentBins]

ageDem_dic = {"Age Summary":agelabels,"Total Count":playerBinsCount,"Percentage Of Players":percentBins}
ageDem_df = pd.DataFrame(ageDem).set_index('Age Summary')
ageDem_df

             Percentage Of Players  Total Count
Age Summary
<10                           6.76            5
10-14                         4.05            3
15-19                        14.86           11
20-24                        45.95           34
25-29                        10.81            8
30-34                         8.11            6
35-39                         8.11            6
>40                           1.35            1

In [52]:
#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

In [69]:
#top spenders

SN = data_df.groupby(data_df["SN"])
ScreenName = SN["SN"].unique()
SNCount = SN['Age'].count()
SNAverage = round(SN['Price'].mean(),2)
SNTotal = SN['Price'].sum()

topSpend = {"SN":ScreenName,"Purchase Count":SNCount,
            "Average Purchase Price":SNAverage,
            "Total Purchase Value":SNTotal}
topSpend_df= pd.DataFrame(topSpend).set_index('SN').sort_values("Total Purchase Value",ascending=False)
topSpend_df = topSpend_df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

topSpend_df.iloc[:5]

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
[Sundaky74]                2                    3.70                  7.41
[Aidaira26]                2                    2.56                  5.13
[Eusty71]                  1                    4.81                  4.81
[Chanirra64]               1                    4.78                  4.78
[Alarap40]                 1                    4.71                  4.71

In [70]:
#most popular items

itemId = data_df.groupby(data_df['Item ID'])
items = itemId['Item ID'].unique()
itemName = itemId["Item Name"].unique()
itemPurCount = itemId['Age'].count()
itemPrice= itemId['Price'].unique()
itemTotalPurchase = itemId['Price'].sum()

item_dic = {'Item ID':Items,
            'Item Name':ItemName,
            'Item Price':ItemPrice,
            'Item Count':ItemPurCount,
            'Total Purchase Value':ItemTotalPurchase}
item_df = pd.DataFrame(item_dic).set_index('Item ID').sort_values('Item Count', ascending=False)
item_df = item_df[['Item Name','Item Count','Item Price','Total Purchase Value']]
item_df.iloc[:5]

                Item Name  Item Count Item Price  Total Purchase Value
Item ID
[94]     [Mourning Blade]           3     [3.64]                 10.92
[90]           [Betrayer]           2     [4.12]                  8.24
[111]      [Misery's End]           2     [1.79]                  3.58
[64]      [Fusion Pummel]           2     [2.42]                  4.84
[154]      [Feral Katana]           2     [4.11]                  8.22

In [71]:
#most profitable items

mostProfit= item_df.sort_values('Total Purchase Value', ascending=False)
mostProfit[:5]

,Item Name,Item Count,Item Price,Total Purchase Value
Item ID,,,,
[94],[Mourning Blade],3,[3.64],10.92
[117],"[Heartstriker, Legacy of the Light]",2,[4.71],9.42
[93],[Apocalyptic Battlescythe],2,[4.49],8.98
[90],[Betrayer],2,[4.12],8.24
[154],[Feral Katana],2,[4.11],8.22