In [1]:
import pandas as pd
import numpy as np
import os

#read file into pandas and create dataframe

data = "purchase_data2.json"
data_df = pd.read_json(data)
data_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [2]:
#player count

ply_df = pd.DataFrame({"Total Players":[data_df["SN"].nunique()]})
ply_df

   Total Players
0             74

In [3]:
#purchasing analysis

purch_df = pd.DataFrame({
    "Number of Unique Items":[data_df["Item ID"].nunique()],
    "Average Price":[round(data_df["Price"].mean(), 2)],
    "Number of Purchases":[data_df["Item ID"].count()],
    "Total Revenue":[round(data_df["Price"].sum(), 2)]
})
purch_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0           2.92                   78                      64          228.1

In [41]:
#gender demographics




#save for optimization


#grouped_counts = data_df.drop(['Age', 'Item ID', 'Item Name', 'Price'], axis=1)
#grouped_gen = grouped_counts.groupby('Gender')
#grouped_gen.count().head()


#total = np.sum(grouped_counts.loc[:,'SN':].agg)
#total
#grouped_gen['Percent'] = grouped_gen.loc[:,'SN':].sum(axis=1)/total * 100
#grouped_gen.head()


#for i in col
#Female1= data1.groupby(['Gender']).get_group(('Female'))
#Female2= len(Female1['SN'].unique())
#FemalePercent= round((Female2/total_count)*100,2)

AttributeError: Cannot access callable attribute 'loc' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [ ]:
#Purchase Analyses(Gender)

Purchase Count
Average Purchase Price
Total Purchase Value
Normalized Totals

In [ ]:
#gender demographics

In [ ]:
#Gender Demographics

# Total Count
total_count = len(data1["SN"].unique())

#Percentage and Count of Male Players
#Male = data1.loc[data1['Gender'] =='Male',:]
Male1= data1.groupby(['Gender']).get_group(('Male'))
Male2= len(Male1['SN'].unique())
MalePercent= round((Male2/total_count)*100,2)

#Percentage and Count of Female Players
Female1= data1.groupby(['Gender']).get_group(('Female'))
Female2= len(Female1['SN'].unique())
FemalePercent= round((Female2/total_count)*100,2)

#Percentage and Count of Other / Non-Disclosed Players
Other1= data1.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other2= len(Other1['SN'].unique())
OtherPercent= round((Other2/total_count)*100,2)

#Make it into a Gender DataFrame
gender1 = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other'],'Gender Count':[Male2,Female2,Other2]}
gender2 =  pd.DataFrame(gender1)
gender2= gender2.set_index('Gender')
gender2= gender2[['Percent of Players','Gender Count']]
gender2









#Purchasing Analysis (Gender)

#Purchase Count
MalePurchaseCount = len(Male1)
FemalePurchaseCount = len(Female1)
OtherPurchaseCount = len(Other1)

#Average Purchase Price
MaleAvgPrice =round((Male1["Price"].sum())/len(Male1["Price"]),2)
FemaleAvgPrice= round((Female1["Price"].sum())/len(Female1["Price"]),2)
OtherAvgPrice= round((Other1["Price"].sum())/len(Other1["Price"]),2)


#Total Purchase Value
MaleTotalPurchase = round(Male1['Price'].sum(),2)
FemaleTotalPurchase = round(Female1['Price'].sum(),2)
OtherTotalPurchase = round(Other1['Price'].sum(),2)

# Normalised Totals
# male/female/Other
NormMale = round((MaleTotalPurchase/MalePurchaseCount), 2)
NormFemale = round((FemaleTotalPurchase/FemalePurchaseCount), 2)
NormOther = round((OtherTotalPurchase/OtherPurchaseCount), 2)

PurchByGender = {"Purchase Count":[MalePurchaseCount,FemalePurchaseCount,OtherPurchaseCount],
                    "Gender":["Male","Female","Other"],
                    "Average Purchase Price":[MaleAvgPrice,FemaleAvgPrice,OtherAvgPrice],
                    "Total Purchase Value":[MaleTotalPurchase,FemaleTotalPurchase,OtherTotalPurchase],
                "Normalized Totals":[NormMale,NormFemale,NormOther]}
PurchByGender1 = pd.DataFrame(PurchByGender)
PurchByGender1 = PurchByGender1.set_index('Gender')
PurchByGender1= PurchByGender1[['Purchase Count','Average Purchase Price','Total Purchase Value','Normalized Totals']]
PurchByGender1






#Age Demographics
MaxAge = data1['Age'].max()
#print(MaxAge)
#bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0,10,14,19,24,29,34,39,46]
Agelabels = ["Under 10","10-14","15-19","20-24","25-29","30-34","35-39","Over 40"]
data1['Age Summary'] = pd.cut(data1['Age'],bins,labels= Agelabels)

#Purchase Count
Bin1 = data1.groupby(['Age Summary']).get_group(('Under 10'))
pc1 = len(Bin1['SN'].unique())
PerBin1 = (pc1/total_count)*100

Bin2 = data1.groupby(['Age Summary']).get_group(('10-14'))
pc2 = len(Bin2['SN'].unique())
PerBin2 = (pc2/total_count)*100

Bin3 = data1.groupby(['Age Summary']).get_group(('15-19'))
pc3 = len(Bin3['SN'].unique())
PerBin3 = (pc3/total_count)*100

Bin4 = data1.groupby(['Age Summary']).get_group(('20-24'))
pc4 = len(Bin4['SN'].unique())
PerBin4 = (pc4/total_count)*100

Bin5 = data1.groupby(['Age Summary']).get_group(('25-29'))
pc5 = len(Bin5['SN'].unique())
PerBin5 = (pc5/total_count)*100

Bin6 = data1.groupby(['Age Summary']).get_group(('30-34'))
pc6 = len(Bin6['SN'].unique())
PerBin6 = (pc6/total_count)*100

Bin7 = data1.groupby(['Age Summary']).get_group(('35-39'))
pc7 = len(Bin7['SN'].unique())
PerBin7 = (pc7/total_count)*100

Bin8 = data1.groupby(['Age Summary']).get_group(('Over 40'))
pc8 = len(Bin8['SN'].unique())
PerBin8 = (pc8/total_count)*100


PlayerBinsCount=[pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8]
PercentBins= [PerBin1,PerBin2,PerBin3,PerBin4,PerBin5,PerBin6,PerBin7,PerBin8]
PercentBins= [round(x,2) for x in PercentBins]

AgeDem = {"Age Summary":Agelabels,"Total Player Count":PlayerBinsCount,"Percentage Of Players":PercentBins}
AgeDem1 = pd.DataFrame(AgeDem)
AgeDem1 = AgeDem1.set_index('Age Summary')
AgeDem1





#Top Spenders

#SN
SN = data1.groupby(data1["SN"])
ScreenName = SN["SN"].unique()

#Purchase Count
SNCount = SN['Age'].count()

#Average Purchase Price
SNAverage = round(SN['Price'].mean(),2)

#Total Purchase Value
SNTotal = SN['Price'].sum()


TopSpend = {"SN":ScreenName,"Purchase Count":SNCount,
                 "Average Purchase Price":SNAverage,"Total Purchase Value":SNTotal}
TopSpend1= pd.DataFrame(TopSpend)
TopSpend1= TopSpend1.set_index('SN')
TopSpend1 = TopSpend1.sort_values("Total Purchase Value",ascending=False)
TopSpend1 = TopSpend1[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

TopSpend1.iloc[:5]










#Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):


#Item ID
ItemId = data1.groupby(data1['Item ID'])
Items = ItemId['Item ID'].unique()
#Item Name

ItemName = ItemId["Item Name"].unique()

#Purchase Count
ItemPurCount = ItemId['Age'].count()

#Item Price
ItemPrice= ItemId['Price'].unique()


#Total Purchase Value
ItemTotalPurchase = ItemId['Price'].sum()

ItemTable = {'Item ID':Items,'Item Name':ItemName,'Item Price':ItemPrice,'Item Count':ItemPurCount,'Total Purchase':ItemTotalPurchase}
ItemTable1 = pd.DataFrame(ItemTable)
ItemTable1 = ItemTable1.set_index('Item ID')
ItemTable1= ItemTable1.sort_values('Item Count', ascending=False)
ItemTable1 = ItemTable1[['Item Name','Item Count','Item Price','Total Purchase']]
ItemTable1.iloc[:5]









#Most Profitable Items
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

MostProfit= ItemTable1.sort_values('Total Purchase', ascending=False)
MostProfit[:5]